@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap);
* {
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  margin: 0px;
  padding: 10em;
  padding-top: 0;
  padding-bottom: 0;
  background-color: hsl(0deg, 0%, 100%);
  min-height: 100vh;
}

p {
  font-size: 16px;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  box-shadow: 0 0.1rem 0.125rem -0.1em hsl(219deg, 9%, 45%);
}
nav .phone-menu {
  display: none;
}
nav .link-container {
  display: flex;
  align-items: center;
  gap: 2em;
}
nav .link {
  display: flex;
  align-items: center;
  color: hsl(219deg, 9%, 45%);
  height: 100%;
  margin: 0;
}
nav .link:hover {
  color: black;
  cursor: pointer;
  border-bottom: 0.3em solid hsl(26deg, 100%, 55%);
  margin-bottom: -0.3em;
}
nav .logo {
  height: 25%;
  align-self: center;
  margin-right: 2.5em;
}
nav .logo:hover {
  cursor: pointer;
}
nav .nav-right {
  display: flex;
  align-items: center;
  gap: 3em;
  height: 100%;
}
nav .nav-right .avatar {
  height: 50%;
}
nav .nav-right .avatar:hover {
  cursor: pointer;
  outline: 0.2em hsl(26deg, 100%, 55%) solid;
  outline-offset: -2px;
  border-radius: 1.5em;
}
nav .nav-right .cart {
  display: flex;
  align-items: center;
}
nav .nav-right .cart-icon:hover {
  cursor: pointer;
}
nav .nav-right .quantity {
  position: relative;
  top: -1em;
  left: -1em;
  justify-content: center;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 1em;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
  font-size: 10px;
}
nav .nav-right .quantity:hover {
  cursor: pointer;
}
nav .nav-right .cart-items {
  display: grid;
  grid-template-rows: 20% 45%;
  position: relative;
  background-color: white;
  top: 8em;
  left: 10em;
  height: 12em;
  width: 19em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1em;
  animation: cart 500ms ease-in-out 1 forwards;
}
nav .nav-right .cart-items .empty-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .nav-right .cart-items .cart-items-p {
  font-weight: 700;
  padding-left: 20px;
  height: 100%;
  box-shadow: 0 0.1rem 0.125rem -0.1em hsl(219deg, 9%, 45%);
}
nav .nav-right .cart-items .inside-cart {
  margin-top: 10px;
  padding-left: 1em;
  gap: 5%;
  display: flex;
  align-items: center;
}
nav .nav-right .cart-items .inside-cart .bold-price {
  color: black;
}
nav .nav-right .cart-items .inside-cart * {
  font-size: 14px;
  margin: 0;
  color: hsl(219deg, 9%, 45%);
}
nav .nav-right .cart-items .inside-cart img {
  border-radius: 0.2em;
  height: 55%;
}
nav .nav-right .cart-items .inside-cart .bin {
  height: 20%;
}
nav .nav-right .cart-items .inside-cart .bin:hover {
  cursor: pointer;
}
nav .nav-right .cart-items .checkout-cart {
  background: hsl(26deg, 100%, 55%);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: center;
  border-radius: 0.5em;
  height: 60%;
  width: 90%;
  color: white;
  font-weight: 700;
}
nav .nav-right .cart-items .checkout-cart:hover {
  cursor: pointer;
  opacity: 0.7;
}

@keyframes cart {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.main-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
  gap: 6%;
}

.carousel {
  width: 25%;
}
.carousel .carousel-main {
  width: 100%;
  margin-bottom: 2em;
  border-radius: 1em;
}
.carousel .carousel-main:hover {
  cursor: pointer;
}
.carousel .thumbnails {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.carousel .thumbnails .thumb-img {
  width: 20%;
  border-radius: 0.5em;
}
.carousel .thumbnails .thumb-img:hover {
  cursor: pointer;
}
.carousel .thumbnails .thumb-img img {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
}
.carousel .thumbnails .thumb-img img:hover {
  opacity: 0.7;
}

.info-cont {
  width: 25%;
}
.info-cont .shoe-name {
  color: hsl(220deg, 13%, 13%);
  font-size: 2.2em;
}
.info-cont .discounted-price {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}
.info-cont .old-price {
  color: hsl(220deg, 14%, 75%);
  margin: 0;
  text-decoration: line-through;
  margin-bottom: 1.5em;
}
.info-cont .company-details {
  color: hsl(26deg, 100%, 55%);
  font-size: 14px;
  letter-spacing: 0.1em;
}
.info-cont .shoe-info {
  color: hsl(219deg, 9%, 45%);
}
.info-cont .price-cont {
  display: flex;
  align-items: center;
  gap: 1.3em;
}
.info-cont .price-cont .discount-percentage {
  font-weight: 700;
  color: hsl(26deg, 100%, 55%);
  padding: 0.3em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-radius: 0.3em;
  background-color: hsl(25deg, 100%, 94%);
}

.btn-container {
  gap: 5%;
  display: flex;
  align-items: center;
}
.btn-container .amount {
  width: 40%;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  background-color: hsl(223deg, 64%, 98%);
  border-radius: 0.5em;
  display: flex;
  align-items: center;
}
.btn-container .amount img:hover {
  cursor: pointer;
  opacity: 0.5;
}
.btn-container .add-btn {
  display: flex;
  align-items: center;
  width: 70%;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  border-radius: 0.5em;
  background-color: hsl(26deg, 100%, 55%);
  color: white;
  border: none;
  height: 50px;
  font-weight: 700;
}
.btn-container .add-btn:hover {
  opacity: 0.5;
}
.btn-container .add-btn:hover {
  cursor: pointer;
}
.btn-container .add-btn .logo {
  height: 30%;
}

/*# sourceMappingURL=MainPage.css.map */
