@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap)

$font-main: 'Kumbh Sans', sans-serif
$main: hsl(26, 100%, 55%)
$dark-grey: hsl(219, 9%, 45%)
$discount-price: hsl(25, 100%, 94%)
$old-price: hsl(220, 14%, 75%)
$button-container: hsl(223, 64%, 98%)

@mixin flex()
    display: flex
    align-items: center

@mixin button()
    border: none
    height: 50px
    font-weight: 700
    &:hover
        cursor: pointer

*
    box-sizing: border-box
    font-family: $font-main

body
    margin: 0px
    padding: 10em
    padding-top: 0
    padding-bottom: 0
    background-color: hsl(0, 0%, 100%)
    min-height: 100vh

p
    font-size: 16px

nav
    display: flex
    justify-content: space-between
    height: 100px
    box-shadow: 0 0.1rem 0.125rem -0.1em $dark-grey

    .link-container
        @include flex()
        gap: 2em
    .link
        @include flex()
        color: $dark-grey
        height: 100%
        margin: 0
        &:hover
            color: black
            cursor: pointer
            border-bottom: 0.3em solid $main
            margin-bottom: -0.3em
    .logo
        height: 25%
        align-self: center
        margin-right: 2.5em
        &:hover
            cursor: pointer
    .nav-right
        @include flex()
        gap: 3em
        height: 100%
        .avatar
            height: 50%
            &:hover
                cursor: pointer
                outline: 0.2em $main solid

                outline-offset: -2px
                border-radius: 1.5em
        .cart
            @include flex()
        .cart-icon
            &:hover
                cursor: pointer

        .quantity
            position: relative
            top: -1em
            left: -1em
            justify-content: center
            background-color: $main
            border-radius: 1em
            color: white
            padding-left: 5px
            padding-right: 5px
            margin: 0
            font-size: 10px
            &:hover
                cursor: pointer
        .cart-items
            display: grid
            grid-template-rows: 20% 45%
            position: relative
            background-color: white
            top: 8em
            left: 10em
            height: 12em
            width: 19em
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
            border-radius: 1em
            animation: cart 500ms ease-in-out 1 forwards
            .empty-cart
                @include flex()
                justify-content: center
            .cart-items-p
                font-weight: 700
                padding-left: 20px
                height: 100%
                box-shadow: 0 0.1rem 0.125rem -0.1em $dark-grey
            .inside-cart
                margin-top: 10px
                padding-left: 1em
                gap: 5%
                @include flex()
                .bold-price
                    color: black
                *
                    font-size: 14px
                    margin: 0
                    color: $dark-grey
                img
                    border-radius: 0.2em
                    height: 55%
                .bin
                    height: 20%
                    &:hover
                        cursor: pointer
            .checkout-cart
                background: $main
                padding: 10px
                @include flex()
                justify-self: center
                justify-content: center
                border-radius: 0.5em
                height: 60%
                width: 90%
                color: white
                font-weight: 700
                &:hover
                    cursor: pointer
                    opacity: 0.7

@keyframes cart
    0%
        opacity: 0
        transform: translateY(-20%)
    100%
        opacity: 1
        transform: translateY(0%)

//Carousel and buttons container
.main-cont
    @include flex()
    justify-content: center
    min-height: 85vh
    gap: 6%

//Image carousel
.carousel
    width: 25%
    .carousel-main
        width: 100%
        margin-bottom: 2em
        border-radius: 1em
        &:hover
            cursor: pointer
    .thumbnails
        display: flex
        justify-content: space-between
        width: 100%
        .thumb-img
            width: 20%
            border-radius: 0.5em
            &:hover
                cursor: pointer
            img
                width: 100%
                height: 100%
                border-radius: 0.5em
                &:hover
                    opacity: 0.7

//General information about the product
.info-cont
    width: 25%
    .shoe-name
        color: hsl(220, 13%, 13%)
        font-size: 2.2em
    .discounted-price
        margin-top: 0.1em
        margin-bottom: 0.1em
    .old-price
        color: $old-price
        margin: 0
        text-decoration: line-through
        margin-bottom: 1.5em
    .company-details
        color: $main
        font-size: 14px
        letter-spacing: 0.1em
    .shoe-info
        color: $dark-grey
    .price-cont
        @include flex()
        gap: 1.3em
        .discount-percentage
            font-weight: 700
            color: $main
            padding: 0.3em
            padding: 0.2em 0.5em 0.2em 0.5em
            border-radius: 0.3em
            background-color: $discount-price

//Amount to buy and add to cart buttons
.btn-container
    gap: 5%
    @include flex()
    .amount
        width: 40%
        justify-content: space-between
        padding-left: 1em
        padding-right: 1em
        background-color: $button-container
        border-radius: 0.5em
        @include flex()
        img
            &:hover
                cursor: pointer
                opacity: 0.5
    .add-btn
        @include flex()
        width: 70%
        flex-direction: row
        justify-content: center
        gap: 5%
        border-radius: 0.5em
        background-color: $main
        color: white
        &:hover
            opacity: 0.5
        @include button()
        .logo
            height: 30%
